

body{
	background: #111;
	top:50px;
}

.videoPort {
	position: fixed;
	width:100vw;
	height: 60vw;
	/*top:0px;*/
	margin-left: 0%;
	margin-right: 0%;
	top: 0px;
	left: 0px;
	padding: 0px;
	border-radius: 5px;
	/*border: 1px solid #ff0;*/
	overflow: hidden;
	vertical-align:middle;
}

h1{
	color: #fff;
	top:0px;
	padding-top: 0px;
	margin-top: 0px;
}


#textArea{
	position: fixed;
	background: #0008;
	width: 150px;
	height: 50px;
	bottom:10vh; 
	left: 5%;
	border: 1px solid #fffd;
	border-radius: 10px;
	color: #fff;
	padding: 10px;
	font-size:20px;
	
}


.controls{
	position: fixed;
	top: 40vw;
	right: 3vw;
	width: 250px;
	height: 200px;
}

.left{

	left: 0px;
	top: 33%;	
	/*bottom: 10px;*/
/*	width:60px;
	height: 80px;*/
}

.right{
	
	left: 66%;
	top:33%;	
	/*bottom: 10px;*/
/*	width:60px;
	height: 80px;*/
}
.top{
	
	left: 33%;
	top: 0%;	
	/*bottom: 63px;*/
/*	width:70px;
	height: 50px;
*/}
.middle{
	left: 33%;
	top: 33%;
}
.bottom{
	
	left: 33%;
	top: 66%;	
	/*bottm: 10px;*/
	/*width:0px;
	height: 50px;
	vertical-align:middle;*/
}

.myButton {
	position: absolute;
	box-shadow: 0px 0px 0px 0px #b5b5b5;
	background-color:#fff3;
	border-radius:10px;
	border:1px solid #fff6;
	/*display:inline-block;*/
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	/*padding:32px 10px;*/
	text-decoration:none;
	text-shadow:0px 1px 5px #5c5c5c;
	text-align: justify;
	text-align: center;

	width:70px;
	height: 50px;

	z-index: 1;
}

.button-text{
	margin-top: 20%;
	color: #fff;
	z-index: -1;
	font-weight:bold;
}
.myButton:hover {
	/*background-color:transparent;*/
	/*padding:1px;*/
	box-shadow: 0px 0px 10px 1px #000;
	transform: scale(1.05);
}




.fullScreen_button{
	top:2vh;
	right:50px;
	width:120px;
	height: 60px;
	font-size: 20px;
	background: #fff3;
	color: #ffff;
	text-decoration:none
}


img {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}



@media only screen and (max-height: 600px){

.videoPort{
	height: 85vh;
	width: 100vw;
	/*width: calc(100% - 300px);*/
}
.controls{
	/*bottom: 50vh;*/
	top: 40vh;
}
}
